body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background: #f8f3f3;
    color: #121010;
    padding: 10px 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5em;
    margin: 10px 0;
}

.left-button, .right-button {
    background-color: #d70eb9;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.hero {
    text-align: center;
    margin-top: 20px;
}

.hero img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.article-title {
    font-size: 1.2em; /* Adjusted to be smaller */
    margin: 10px 0;
}

main {
    padding: 20px;
}

article p {
    margin: 15px 0;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 20px;
    background: #eb2bdf;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}



.card {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.card-text {
    flex: 1;
}

.card-button {
    margin-left: 20px; /* Space between text and button */
}

.card-button button {
    background-color: #ff00e1;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button button:hover {
    background-color: #ddb1e3;
}

